<!doctype html>
<html ng-app="engineApp" ng-controller="ResultsController as Results">

  <head>

    <!-- A IMPORTER VIA NODE / BOWER -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../public/js/app.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.css">

  </head>

  <body>


  <div ng-include="'navbar.html'"  ng-if="true">
    
  </div>

  <div ng-include="'results.html'"  ng-if="true">
    
  </div>
 
  </body>

</html>